body {
  background: url("../img/backdrop.png") no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}

.super_large {
  height: 3200px;
}
h1 {
  margin-top: 256px;
  margin-left: 42%;
  font-size: 14px;
}

.modal92 {
  opacity: 0;
  margin-top: 943px;
  margin-left: 32%;
}

.modal67 {
  opacity: 0;
  margin-top: 353px;
  margin-left: 48%;
}

img:hover {
  opacity: 100;
}

img:hover {
  opacity: 100;
}
